<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link rel = "stylesheet" type="text/css" href="American.css">
</head>
<body>

	<div class = "container-fluid">
	<div class="row">
  <div class="col-md-2" id = "stars"></div>
	<div class = "col-md-8">
		<div ng-app="myApp" ng-controller="menuCtrl">
		<h2>Burgers</h2>
   	<table width = "100%" rules = "none">
 <!--  <tr>
    <th ng-click="orderByMe('food')">Dish</th>
    <th ng-click="orderByMe('price')">Price</th>
  </tr> -->
  <tr ng-repeat="x in burgers | orderBy:myOrderBy">
    
    <td ng-click="orderByMe('food')">{{x.food}} <br> <span class = "sum"> {{x.summary}} </span></td>
    <td ng-click="orderByMe('price')">{{x.price | currency}}</td>
    
  </tr>
</table>
</div>
	</div>
  <div class="col-md-2" id = "bars"></div>
</div>
</div>

<script>
angular.module('myApp', []).controller('menuCtrl', function($scope) {

  $scope.burgers =
  [
  {food: "Garden Salad", price: '4', summary: "Lettuce, tomatos, cucumbers, olivers, red peppers, italian dressing"},
  {food: "Chicken Ceasar Salad", price: '6', summary: "Chicken, feta cheese, red peppers, onions, arctichokes, ceasar dressing"}
  ]

    $scope.orderByMe = function(x) {
    $scope.myOrderBy = x;
  }

   $scope.theTime = new Date().toLocaleTimeString();
  
});



</script>
	</body>
	</html>