<!DOCTYPE html>
<html>
<head>
  <title>DingLong's Menu</title>
  <meta name="description" content ="Fake Chinese restaraunt menu." />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="chinese.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
</head>

<body onload = "checkOpened()">


<div ng-app="myApp" ng-controller="menuCtrl">
<h1>DingLong's Table</h1>
<h2>Chinese Cuisine</h2>
<h2><span style = "background-color:gold; padding: 2px;"> DINE IN/TAKE OUT </span></h2>
Hours: 
<br>
Monday - Thursday: 11am - 8pm
<br>
Friday - Saturday: 11am - 9pm
<br>
Sunday: 11am - 7pm
<br>
<br>
<span id = "opened" style = "font-size: 125%;"> (Closed) </span>
<br>
  <h2> Appetizers </h2>

<table border="1" width="100%" rules = "none">
  <tr>
    <th ng-click="orderByMe('food')">Dish</th>
    <th ng-click="orderByMe('price')">Price</th>
  </tr>
  <tr ng-repeat="x in appetizer | orderBy:myOrderBy">
    <!-- Very awkward way to deal with display spice.  May remove.  Most dishes are not spicy
      Yet as is spice shows up by default.  If only I could be HTML Angular object-->
    <td>{{x.food}} <span class = "spice" style = "display:{{x.spice}}"><i class='fas fa-pepper-hot'></i></span></td>
    <td>{{x.price | currency}}</td>
  </tr>
</table>
<br> 
<h2> Main </h2>
<table border="1" width="100%" rules = "none">
  <tr>
    <th ng-click="orderByMe('food')">Dish</th>
    <th ng-click="orderByMe('price')">Price</th>
  </tr>
  <tr ng-repeat="x in main | orderBy:myOrderBy">
    <!-- Very awkward way to deal with display spice.  May remove.  Most dishes are not spicy
      Yet as is spice shows up by default.  If only I could be HTML Angular object-->
    <td>{{x.food}} <span class = "spice" style = "display:{{x.spice}}"><i class='fas fa-pepper-hot'></i></span></td>
    <td>{{x.price | currency}}</td>
  </tr>
</table>
<br> 
<h2> Drinks </h2>
<table border="1" width="100%" rules = "none">
  <tr>
    <th ng-click="orderByMe('food')">Drink</th>
    <th ng-click="orderByMe('price')">Price</th>
  </tr>
  <tr ng-repeat="x in drinks | orderBy:myOrderBy">
    <!-- Very awkward way to deal with display spice.  May remove.  Most dishes are not spicy
      Yet as is spice shows up by default.  If only I could be HTML Angular object-->
    <td>{{x.food}} </td>
    <td>{{x.price | currency}}</td>
  </tr>
</table>
<br>
<div id = "wings">
  <h3>FREE</h3>
  <p>FRIED CHICKEN WINGS WITH $35 PURCHASES (DELIVERY ONLY)</p>
</div>

<div id = "order">
<hr>
<h2> Order </h2>
<form>
 <!--  So I need to somehow extra the price of the item, and the number in the 'number' input, multiply
  them, and then add the resulting number to a "total" variable.  Hmmm -->
  <h3 class = "orderSec">Main</h3>
  <div ng-repeat = "x in main"><input type = "number" min = "0" max = "10" name = {{x.food}}></input> {{x.food}} ({{x.price | currency}})<input type = "checkbox" value = {{x.price}} id = {{x.food}}></input></div>
  <br>
  Total: <span id = "total"></span>
  <br>
  <input type = "submit" value = "submit" onClick = "total()">
  </form>
</div>

<div id = "empty"></div>
</div>


<script>
angular.module('myApp', []).controller('menuCtrl', function($scope) {
  $scope.main = [
    {food:'Shrimp Lo-Mien', price:'15', spice: "none"},
    {food:'Pork Lo-Mien', price:'14', spice: "none"},
    {food: 'Beef and Brocoli', price: '13', spice: "none"},
    {food: 'Mongolian Beef', price: '14'},
    {food: 'Kung Poa Shrimp', price: '16'}
  ];

  $scope.appetizer = [
 {food:'Wonton Soup', price:'5', spice: "none"},
    {food:'Barbeque Pork Ribs', price:'8', spice: "none"},
    {food: 'Chicken Wings', price: '5', spice: "none"}
  ]

  $scope.drinks = [
 {food:'Apple Juice', price:'2'},
    {food:'Ice Tea (sweet or unsweet)', price:'3'},
    {food: 'Beer (Corona, Bud Light, Samuel Adams)', price: '4'}
  ]

   $scope.desserts = [
 {food:'New York Style Ice-Cream', price:'2'},
    {food:'Ice Tea (sweet or unsweet)', price:'3'},
    {food: 'Beer (Corona, Bud Light, Samuel Adams)', price: '4'}
  ]

//OB = filter
//OBM = function
//MOB = function input

//so what I want, in theory, is some function which checks if the input, MOB, is already food
//or price, ie if its already what is trying to switch to, and if so ordersBy in reverse.  Checking
//seems easy, ordering in reverse seems nigh impossible.  Hm.
//though you could have two buttons, each represented by a different arrow.
  $scope.orderByMe = function(x) {
    $scope.myOrderBy = x;
  }

   $scope.theTime = new Date().toLocaleTimeString();
  
});


var hours = parseFloat(moment().startOf('day').fromNow());

const d = new Date();
let day = d.getDay();

function sayOpened()
{
	document.getElementById("opened").innerHTML = "(Opened)";
}

function weekdayCheck()
{

if (hours >= 11 && hours <= 19){
    sayOpened();
}

}

function weekendCheck()
{

if (hours >= 11 && hours <= 21){
   sayOpened();
}

}

function sundayCheck()
{

if (hours >= 11 && hours <= 20){
    sayOpened();
}

}


function checkOpened()
{
	const d = new Date();
let day = d.getDay();

	if (day == 0)
	{
		sundayCheck();
	}
	else if (day > 0 && day < 5)
	{
	   weekdayCheck();
	}
	else if (day == 5 || day == 6)
	{
	  weekendCheck(); 	
	}
   // if (hours >= 11 && hours <= 20)
   //  document.getElementById("opened").innerHTML = "(Opened)";
}

function total()
{
  //this needs to gather the price (value) of all checked boxes, then multiply it by the value of adjacent number input
  $('input[type=checkbox]').each(function () {
    if (this.checked)
      {
        console.log($(this).val());
        var quantityId = this.id;
        console.log(quantityId);
        var money = $('input[name=quantityId]').val();
        console.log(money);
        //why doesn't the above give me the number in the input?


        var money2 = document.getElementsByName(quantityId).value;
        console.log(money2);
        //the above also comes back "undefined.""  WTF!?
      }
  }
);

}
</script>

</body>
</html>